<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[com.dvdscreensaver]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>DVD Screen Saver</name>

    <description>
        Watch the clasic screen saver!
    </description>

    <author href="http://scratch.mit.edu/users/Wazk" email="wazkmobile@gmail.com">
        Wazk Mobile
    </author>

</widget>
